---
title: Algolia Wallpapers
---

<div class="container">
	<header>
		<h1><img src="https://res.cloudinary.com/hilnmyskv/image/upload/v1461180074/logo-algolia-dark.svg"/> Wallpapers</h1>
		<h3>Click to download</h3>
	</header>

	<div class="wp-container" data-inject-wallpapers></div>

	<footer>
		A project from the <a href="https://algolia.com">Algolia</a> design team<br/>
		<small>Illustrations by <a href="http://twitter.com/@SebastienNvzt">@SebastienNvzt</a> Code by <a href="http://twitter.com/@lukyvj">@LukyVj</a></small>
	</footer>
</div>